
body{
  background-image: url(../images/background.jpg);
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 5em;
  text-align: center;
  background-color: pink;
  color:white;
  border-radius: 20px 20px 0 0 ;
  padding-bottom: 10px;
  width: 87%;
  margin: 100px auto 10px auto;
}

#container {
  margin: 0px auto 10px auto;
  border: 3px solid pink;
  width: 83.5%;
  padding: 0 20px 20px 20px;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 0 0 20px 20px;
}

#scores {
  margin: 0 auto;
  display: block;
  padding: 0 100px 0 100px;
  height: 82px;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  text-align: center;
  margin: 20px 20px;
  display:inline-block;
}

#winX{
  width:80px;
  float:left;
}

#scoreX {
  float:left;
}

#size{
  width: 168px;
  margin: 0px auto;
}

#winY{
  width:100px;
  float: right;
  margin-top: 10px;
}

#scoreY{
  float: right;
}

.buttons{
  display: block;
  margin:0 auto;
  width:384px;
}

.reset, .resetScore {
   display: inline-block;
   margin: 0 20px 10px 20px;
   width: 150px;
   height: 39px;
   font-size: 1.3em;
   font-family: 'Lobster', cursive;
   background-color: pink;
   border: none;
   color: white;
   letter-spacing: 2px;
   border-radius: 0 0 10px 10px;
}

#winner {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  font-size: 2.5em;
  color:#db61a4;
  height:60px;
  margin-bottom: 20px;
  margin-top: -40px;
}

table {
  margin: 0 auto 20px auto;
  background-color: white;
}

td {
  border: 1px solid #999;
  height: 80px;
  width: 80px;
  text-align: center;
}

#banana {
  width: 55px;
  height: 55px;
  margin: 0 auto;
}

#unicorn {
  width:75px;
}
